#page {
    width: 800px;
    margin: 0 auto;
}
header, footer {
    height: 50px;
    background-color:cadetblue;
}
nav {
    height: 50px;
    background-color: lightgrey;
}
#main {
    display: flex;
    justify-content: space-between;
}
aside {
    flex-grow: 1;
    background-color: aquamarine;
    height: 300px;
}
section {
    flex-grow: 3;
    min-height: 600px;
    background-color: beige;
}
ul {
    display: flex;
    justify-content: center;
}
input {
    border: none;
    background-color: beige;
}
